<div *ngIf="project$ | async as project">
  <header class="header">
    <mat-icon svgIcon="arrow-left" (click)="goToProjects()"></mat-icon>
    <h2> {{ project.projectName }}</h2>

    <ng-container>

      <ng-container *ngIf="canChangeStatus$ | async; else nonClickableStatus">
        <div class="project-status bar project-status-clickable" (click)="statusSelector.open()">
          <mat-select #statusSelector (selectionChange)="changeStatus($event.value)"
                      style="visibility: hidden; height: 0; width: 0">
            <mat-option *ngFor="let status of statuses; let statusIndex = index" [value]="statusIndex">
              {{status}}
            </mat-option>
          </mat-select>
          {{getStatus(project.status)}}
        </div>
      </ng-container>

      <ng-template #nonClickableStatus>
        <div class="project-status bar">
          {{getStatus(project.status)}}
        </div>
      </ng-template>

    </ng-container>
  </header>
  <div class="documentsFilter tab-lvl" *ngIf="matTabGroup.selectedIndex === 4">
    <div mat-icon-button class="sortMenu" [matMenuTriggerFor]="sortMenu" aria-label="Example icon-button with a menu">
        <mat-icon svgIcon="sort"></mat-icon>
    </div>
    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item (click)="sortDocumentsByNew(project.id)">New</button>
      <button mat-menu-item (click)="sortDocumentsByOld(project.id)" >Old</button>
    </mat-menu>
    <app-filter-input (onSearchQuery)="onSearchQuery($event, project.id)"></app-filter-input>
  </div>

  <app-button class="tab-lvl" *ngIf="matTabGroup.selectedIndex===2" (click)="onCreateReport(project.id)">Create report</app-button>

  <mat-tab-group #matTabGroup (selectedTabChange)="tabChanged($event, project)">
    <mat-tab label="Опис">
      <app-project-description [projectId]="currentProjectId"></app-project-description>
    </mat-tab>
    <mat-tab label="Хронологія">
      <app-timeline></app-timeline>
    </mat-tab>
    <mat-tab label="Документи">
      <app-project-documents></app-project-documents>
    </mat-tab>
  </mat-tab-group>
</div>
