@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:host ::ng-deep {

  mat-form-field {
    width: 100%
  }

  form > * {
    display: block;
  }

  form > * + * {
    margin-top: 20px;
  }

  .heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    line-height: 48px;
    margin-top: 28px;
    margin-bottom: 60px;
    color: #181A25;
  }
}

.image-column {
  float: left;
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.content-column {
  float: right;
  width: 50%;
  height: 100vh;
  display: flex;
  background: #F3F4F8;

  .content-padding {
    min-width: 400px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
  }

}

.btn-back {
  width: 90px;
  height: 44px;
  top: 20px;
  position: fixed;
  color: #515364;
}

@media screen and (max-width: 1024px) {
  .image-column {
    visibility: hidden;
    display: none;
    width: 0;
  }

  .content-column {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .content-column {

    .content-padding {
      min-width: initial;
      width: 80vw;
    }

  }
}
