@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Thin/Poppins-Thin.woff2') format('woff2'),
  url('../../fonts/Thin/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Regular/Poppins-Regular.woff2') format('woff2'),
  url('../../fonts/Regular/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Bold/Poppins-Bold.woff2') format('woff2'),
  url('../../fonts/Bold/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/ExtraBold/Poppins-ExtraBold.woff2') format('woff2'),
  url('../../fonts/ExtraBold/Poppins-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Black/Poppins-Black.woff2') format('woff2'),
  url('../../fonts/Black/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Medium/Poppins-Medium.woff2') format('woff2'),
  url('../../fonts/Medium/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Light/Poppins-Light.woff2') format('woff2'),
  url('../../fonts/Light/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/SemiBold/Poppins-SemiBold.woff2') format('woff2'),
  url('../../fonts/SemiBold/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/ExtraLight/Poppins-ExtraLight.woff2') format('woff2'),
  url('../../fonts/ExtraLight/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

