@use '../../../colors' as colors;

.mat-calendar-body-label:not(:last-of-type) {
  visibility: hidden;
}
.mat-calendar-body-label:last-of-type {
  display: none;
}
.mat-datepicker-content .mat-calendar { height: 300px; }

.mat-calendar-table-header-divider {display: none}

.mat-calendar-table-header {font-family: 'Poppins'}



//.mat-calendar-body-active {
//  .mat-calendar-body-today {
//    border: none;
//  }
//  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//    border: 0;
//  }
//  border-radius: 0;
//  @media (hover: hover) {
//    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//      background-color: inherit;
//    }
//  }
//}
//
//.mat-calendar-body-cell-content {
//  border-radius: 0;
//}


