.wide ::ng-deep mat-form-field {
  width: 100%
}

// should be moved to app-dropdown but it does not work
::ng-deep app-dropdown .mat-form-field-flex {
  background-color: #FFFFFF !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

form > * {
  display: block;
}

form > * + * {
  margin-top: 20px;
}

.header-button {
  margin-left: auto;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

