<app-auth-page-layout image="/assets/images/reset-password-buildings.png">
  <h1 class="heading">Change password</h1>

  <form [formGroup]="form" (submit)="submit()">

    <app-password-input label="Password" [control]="password" [errorMessage]="passwordError()"></app-password-input>

    <app-password-input label="Confirm password" [control]="confirmPassword" [errorMessage]="passwordError()">
    </app-password-input>

    <mat-error *ngIf="form?.hasError('notMatched')">
      Password does not match
    </mat-error>

    <app-large-button type="submit">Change password</app-large-button>

  </form>
</app-auth-page-layout>
