
// Gray palette
$white: #FFFFFF;
$gray2: #F3F4F8;
$gray3: #E3E5ED;
$gray4: #B3B5BD;
$gray5: #9496A1;
$gray6: #777986;
$gray7: #515364;
$gray8: #313345;
$gray9: #181A25;
$gray10: #080910;

// Primary
$primary1: #E7F1FF;
$primary2: #D7E7FF;
$primary3: #C3DBFF;
$primary4: #2658D7;
$primary5: #234AAF;
$primary6: #1A3988;

// Secondary
$orange1: #FFF6EA;
$orange2: #FFEBD3;
$orange3: #FFBD93;

// Tertiary
$green1: #D9FFEB;
$green2: #B6F4D3;
$green3: #9DE7BF;
$green4: #52B474;

// Additional colors
$red1: #FFDDE3;
$red4: #EC4563;
